html, body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    fill: white;
    stroke: black;

    stroke-dasharray: 39605;
    stroke-dashoffset: 39605;
    animation: dash 1800s ease-in 2s forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 39605;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button:active:not(:disabled) {
    color: black;
}

.start {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visualiser {
    padding: 20px;
    height: 30%;
    justify-content: center;
}

.tracks {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 280px;
}

.track {
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    height: 270px;
    padding: 5px;
}

.track:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.track-controls {
    padding: 5px;
    flex-grow: 1;
    background: rgba(240, 240, 240, 0.95); 
}

.track-controls h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
    height: 28px;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.track-controls .rc-slider-disabled {
    background-color: transparent;
}

.track-controls .rc-slider-track {
    background-color: black;
}

.track-controls .rc-slider-handle {
    border: 2px solid black;
}

.track-controls .gain .rc-slider {
    margin: 0 auto;
    height: 100px;
}

.track-controls .pan {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.track-controls .pan .rc-slider {
    width: 80%;
}

.track-controls .muting {
    text-align: center;
}

.track-controls .muting button {
    width: 25px;
    border: 1px solid black;
    margin: 5px;
    padding: 2px 4px;
}

.track-controls .muting button.active {
    background: black;
    color: white;
}

.track-controls .muting button:disabled {
    cursor: default;
    background: transparent;
    color: darkgray;
}

.track-controls .loading,
.track-controls .play {
    margin-top: 5px;
    text-align: center;
}

.donate {
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-align: right;
    padding: 10px;
    background-color: white;
}

.donate a {
    color: black;
    padding: 5px;
}