html, body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    margin: 0;
    padding: 0;
}

body::after {
    background: url(../media/img/bg.jpg) top center no-repeat;
    content: "";
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button:active:not(:disabled) {
    color: black;
}

.start {
    width: 100%;
    height: 100%;
}

.visualiser {
    padding: 20px;
}

.tracks {
    display: flex;
    flex-flow: row nowrap;
}

.track {
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 7.5%;
    padding: 10px;
}

.track:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.track-controls {
    padding: 5px;
    flex-grow: 1;
    background: rgba(240, 240, 240, 0.95); 
}

.track-controls h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.track-controls .gain .rc-slider {
    margin: 0 auto;
}

.track-controls .pan {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.track-controls .muting {
    text-align: center;
}

.track-controls .muting button {
    width: 25px;
    border: 1px solid black;
    margin: 5px;
    padding: 2px 4px;
}

.track-controls .muting button.active {
    background: black;
    color: white;
}

.track-controls .muting button:disabled {
    cursor: default;
    background: transparent;
    color: darkgray;
}

.track-controls .loading,
.track-controls .play {
    margin-top: 5px;
    text-align: center;
}

.donate {
    text-align: right;
    margin: 20px 20px 0 0;
}

.donate a {
    color: black;
    padding: 5px;
}