html, body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    color: black;
    margin: 0;
    padding: 0;
}

.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    fill: white;
    stroke: black;

    stroke-dasharray: 39605;
    stroke-dashoffset: 39605;
    animation: dash 1800s ease-in 2s forwards;
}

@keyframes dash {
    from {
        stroke-dashoffset: 39605;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button:active:not(:disabled) {
    color: black;
}

.start {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visualiser {
    padding: 20px;
}

.tracks {
    display: flex;
    flex-flow: row nowrap;
}

.track {
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 7.5%;
    padding: 10px;
}

.track:before {
    content: '';
    display: table;
    padding-top: 100%;
}

.track-controls {
    padding: 5px;
    flex-grow: 1;
    background: rgba(240, 240, 240, 0.95); 
}

.track-controls h1 {
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.track-controls .rc-slider-disabled {
    background-color: transparent;
}

.track-controls .rc-slider-track {
    background-color: black;
}

.track-controls .rc-slider-handle {
    border: 2px solid black;
}

.track-controls .gain .rc-slider {
    margin: 0 auto;
    height: 100px;
}

.track-controls .pan {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.track-controls .pan .rc-slider {
    width: 80%;
}

.track-controls .muting {
    text-align: center;
}

.track-controls .muting button {
    width: 25px;
    border: 1px solid black;
    margin: 5px;
    padding: 2px 4px;
}

.track-controls .muting button.active {
    background: black;
    color: white;
}

.track-controls .muting button:disabled {
    cursor: default;
    background: transparent;
    color: darkgray;
}

.track-controls .loading,
.track-controls .play {
    margin-top: 5px;
    text-align: center;
}

.donate {
    text-align: right;
    margin: 20px 20px 0 0;
}

.donate a {
    color: black;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    .tracks {
        flex-flow: row wrap;
    }
    .track {
        width: 50%;
    }
    .track:before {
        padding-top: 20%;
    }
    .track-controls h1 {
        font-size: 4em;
        margin-bottom: 20px;
    }
    .track-controls .rc-slider-handle {
        width: 40px;
        height: 40px;
        margin-top: -18px;
    }
    .track-controls .rc-slider-vertical .rc-slider-handle {
        margin-left: -18px;
    }
    .track-controls .gain,
    .track-controls .pan {
        margin-bottom: 30px;
    }
    .track-controls .gain .rc-slider {
        height: 200px;
    }
    .track-controls .muting {
        margin: 30px 0;
    }
    .track-controls .muting button {
        width: 100px;
        font-size: 2em;
    }
    .track-controls .loading,
    .track-controls .play {
        margin-bottom: 30px;
    }
    .track-controls .loading button,
    .track-controls .play button {
        font-size: 2em;
    }
}